<?xml version="1.0" ?>
<robot name="cube_ghost.urdf">
  <link name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
            <mesh filename="cube.obj" scale=".05 .05 .05"/>
      </geometry>
      <material name="white">
       <color rgba="1 1 1 0.5"/>
     </material>
    </visual>
  </link>
</robot>
